doctype html
html(lang="ja")
  head 
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="stylesheet" href="/style.css")
    title Index-Pub
  body
    h1 Public
    button.btn.btn-primary(type='button') Primary
    button.btn.btn-secondary(type='button') Secondary
    button.btn.btn-success(type='button') Success
    button.btn.btn-danger(type='button') Danger
    button.btn.btn-warning(type='button') Warning
    button.btn.btn-info(type='button') Info
    button.btn.btn-light(type='button') Light
    button.btn.btn-dark(type='button') Dark
    button.btn.btn-link(type='button') Link
    form#request-form.p-2(action=`/` method="POST")
      .from-group 
        label(for="username") 姓名
        input.form-control#username(type="text" name="username")
      .from-group 
        label(for="mailaddr") メールアドレス
        input.form-control#mailaddr(type="email" name="mailaddr")
      button.btn.btn-primary(type="submit") 利用申込
    script(src="/main.js") 
    script(src="https://www.google.com/recaptcha/api.js?render=6Le9Pa4aAAAAACimNjUpXvQoUF9zi75c2uS2au18") 
    script.
      const form = document.getElementById('request-form')
      form.onsubmit = ev => {
        ev.preventDefault()
        grecaptcha.ready(async () => {
          console.log('grecaptcha is ready.')
          const token = await grecaptcha.execute('6Le9Pa4aAAAAACimNjUpXvQoUF9zi75c2uS2au18', { action: 'request' }).catch(err => console.log(`error at execute(). err=${err}`))
          const iToken = document.createElement('input')
          iToken.type = 'hidden'
          iToken.name = 'recaptcha-token'
          iToken.value = token
          form.appendChild(iToken)
          const iAction = document.createElement('input')
          iAction.type = 'hidden'
          iAction.name = 'recaptcha-action'
          iAction.value = 'request'
          form.appendChild(iAction)
          form.submit()
        })
      }
