doctype html
html(lang="ja")
  head 
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="stylesheet" href="/style.css")
    title 会議室（申請者）
  body
    h1 会議室（申請者）
    script(src="/main.js") 
